@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-container {
    background-color: white;
    text-align: center;
    padding-top:25%;
}

.button-container-1 {
    padding: 30px;
}

.button-container-2 {
    padding: 30px;
}

.button {
    color: white;
    border-radius: 8px;
    border-width: 0px;
}

.start-button {
    background-color: green;
    padding: 10px;
}

.stop-button {
    background-color: red;
    padding: 10px;
}

.reset-button {
    background-color: grey;
    padding: 10px;
}

.short-break-button {
    background-color: blue;
    padding: 10px;
}

.long-break-button {
    background-color: violet;
    padding: 10px;
}

.timer {
    text-align: center
}
